.pedidos {
    padding: 32px;
}

.pedidos h1 {
    margin-top: 0;
}

.pedidos .pedido {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #002F52;
    padding: 12px;
}

.pedido__botao {
    padding: 8px;
    border: none;
    background: #EB9B00;
    color: #FFF;
    cursor: pointer;
}

.pedido__botao:hover {
    background: #B87900;
}